.main{
    display: flex;
    width: 100%; /* 1339 */
    height: 100%; /* 1024 */
}

.sideMenu{
    display: inline-block;
    position: static;
    width: 14.93%; /* 200px */
    height: 94.14%; /* 964px */
    padding: 2.24% 1.79%; /* 30px 24px */
    top: 0%;
    left: 0%;
}
.InnerMenu
{
    position: relative;
    width: 87%; /* 174px */
    height: 100%; /* 964px */
    left: 0%;
    top: 0%;
}
.Motiv{
    display: inline-block;
    position: relative;
    width: 62.59%; /* 108.91px */
    height: 3.21%; /* 31px */
    left: 0%;
    top: 0%;
}
.Motiv img{
    position: relative;
    width: 24.7%; /* 26.91px */
    height: 86.61%; /* 26.85px */
    top: 6.7%; /* 2.08 */
    bottom: 6.67%; /* 2.07 */
}
.Motiv .logoName{
    position: absolute;
    display: inline-block;
    width: 64.27%; /* 70px */
    height: 100%; /* 31px */
    left: 35.72%; /* 38.91px */
    font-size: 1em;
}
.logoName p{
    margin: 0;
}

.mainMenu{
    position: absolute;
    width: 100%; /*174px*/
    height: 35.47%; /* 342px */
    top: 6.84%;
}
.lastMenu{
    position: absolute;
    width: 100%; /*174px*/
    height: 9.54%; /* 92px */
    bottom: 0%;
}
.Rect{
    position: absolute;
    width: 90.8%; /*158px*/
    height: 5.84%; /*20px*/
    padding: 4.02% 4.59%; /* 7px 8px */
}
.lastMenu .Rect{
    position: absolute;
    width: 90.8%; /*158px*/
    height: 21.73%; /*20px*/
    padding: 4.02% 4.59%; /* 7px 8px */
}
.Rect img{
    position: absolute;
    height: 100%;
    top: 0%;
    left: 0%;
}
a{
    color: #5F6165;
    font-family: DM Sans;
    text-decoration: none;
    position: absolute;
    height: 90%;
    top: 5%; /* 1px */
    font-size: 1vw;
}


.DashboardSelection{
    top: 0%;
    left: 0%;
}
.Dashboard{
    position: relative;
    width: 63.92%; /*101px*/
    height: 100%; /*20px*/
}
.Dashboard img{
    width: 19.8%;
}
.Dashboard a{
    width: 72.27%; /* 73px */
    left: 27.72%; /* 28px */
}

.AssetsSelection{
    top: 12.86%; /*44px*/
    left: 0%;
}
.Assets{
    position: relative;
    width: 46.2%; /*73px*/
    height: 100%; /*20px*/
}
.Assets img{
    width: 27.39%;
}
.Assets a{
    width: 61.64%; /* 45px */
    top: 0%; /* 0 */
    left: 38.35%; /* 28px */
}

.BookingSelection{
    top: 25.73%; /* 88px */
    left: 0%;
}
.Booking{
    position: relative;
    width: 51.26%; /*81px*/
    height: 100%; /*20px*/
}
.Booking img{
    width: 24.69%;
}
.Booking a{
    width: 65.43%; /* 53px */
    left: 34.56%; /* 28px */
}

.SellSelection{
    top: 38.59%; /* 132px */
    left: 0%;
}
.SellCars{
    position: relative;
    width: 54.43%; /*86*/
    height: 100%; /*20px*/
}
.SellCars img{
    width: 23.25%;
}
.SellCars a{
    width: 67.44%; /* 58px */
    left: 32.55%; /* 28px */
}

.BuySelection{
    top: 51.46%; /* 176px */
    left: 0%;
}
.BuyCars{
    position: relative;
    width: 55.69%; /*88*/
    height: 100%; /*20px*/
}
.BuyCars img{
    width: 22.72%;
}
.BuyCars a{
    width: 68.18%; /* 60px */
    left: 31.81%; /* 28px */
}

.ServicesSelection{
    top: 64.32%; /* 220px */
    left: 0%;
}
.Services{
    position: relative;
    width: 53.79%; /*85*/
    height: 100%; /*20px*/
}
.Services img{
    width: 23.52%;
}
.Services a{
    width: 67.05%; /* 57px */
    left: 32.94%; /* 28px */
}

.CalenderSelection{
    top: 77.19%; /* 264px */
    left: 0%;
}
.Calender{
    position: relative;
    width: 56.32%; /*89*/
    height: 100%; /*20px*/
}
.Calender img{
    width: 22.47%;
}
.Calender a{
    width: 68.53%; /* 61 */
    left: 31.46%; /* 28px */
}

.MessagesSelection{
    top: 90.05%; /* 308px */
    left: 0%;
}
.Messages{
    position: relative;
    width: 59.49%; /*94*/
    height: 100%; /*20px*/
}
.Messages img{
    width: 21.27%;
}
.Messages a{
    width: 70.21%; /* 66px */
    left: 29.78%; /* 28px */
}

.SettingSelection{
    top: 0%;
    left: 0%;
}
.Settings{
    position: relative;
    width: 52.53%; /*83px*/
    height: 100%; /*20px*/
}
.Settings img{
    width: 24.09%;
}
.Settings a{
    width: 66.26%; /*55px*/
    left: 33.73%; /*28px*/
}

.LogoutSelection{
    top: 63.04%; /* 58px */
    left: 0%;
}
.Logout{
    position: relative;
    width: 48.73%; /*77px*/
    height: 100%;
}
.Logout img{
    width: 25.97%;
}
.Logout a{
    width: 63.63%; /*49px*/
    left: 36.36%; /*28px*/
}




.rightPart{
    display: inline-block;
    width: 81.47%; /* 1091px */
    height: 100%;
}
nav{
    display: inline-block;
    position: relative;
    width: 94.22%; /* 1028px */
    height: 4.68%; /* 48px */
    top: 0%;
    padding: 1.12% 2.31%; /*15px 31px 15px 31px*/
}
nav .InnerNav{
    position: relative;
    width: 100.11%; /*1029.2px*/
    height: 100%; /*48px*/
    left: 0%;
    top: 0%;
}
nav .search{ /*form*/
    display: inline-block;
    position: relative;
    width: 32.06%; /* 330px */
    height: 45.83%; /* 22px */
    left: 0; /* 30.4 */
    top: 2.08%; /* 1 */
    border-radius: 8px;
    padding: 1.16% 1.36%; /* 12px 14px*/
    background: #F5F4F6;
    margin-bottom: 0%;
}
.search .bar{
    display: inline-block;
    width: 46.66%; /* 154px */
    height: 100%; /* 22px */
    position: relative;
}
.bar img{
    position: relative;
    width: 12.98%; /* 20px */
    height: 90.9%; /* 20px */
    left: 0;
    top: 4.54%; /* 1px */
    bottom: 4.54%;
}
.bar .field{
    display: inline-block;
    position: absolute;
    width: 76.62%; /* 118 */
    height: 100%; /* 22 */
    left: 23.37%;
}
.field .cursor{
    display: inline-block;
    width: 1.69%; /* 2 */
    height: 100%; /* 22 */
    top: 0%;
    left: 0%;
    background-color: #EF9011;
}
.field input{
    position: absolute;
    border: 0px none white;
    width: 94.91%; /* 112 */
    height: 95.54%; /* 21 */
    left: 5.08%;
    top: 2.27%;
    font-family: DM Sans;
    font-style: normal;
    font-size: 14.28%;
    background-color: #F5F4F6;
    padding: 0%;
}
input:focus{
    outline-width: 0;
}

nav .info{
    display: inline-block;
    position: absolute;
    width: 10.31%; /*106.2px*/
    height: 100%; /*48px*/
    left: 89.68%; /*923px*/
}
.info .Notifics{
    display: inline-block;
    position: absolute;
    width: 18.07; /*19.2*/
    height: 50%; /*24px*/
    left: 0%;
    top: 25%;
}
.info .PP{
    position: relative;
    width: 45.19%; /*48px*/
    height: 100%; /*48px*/
    top: 0%;
    left: 54.8%; /*58.2px*/
}



/*  MAIN SECTION OF THE PAGE */
.rightPart .mainSection{
    position: relative;
    width: 100%; /* 1091*/
    height: 92.38%; /*946px*/
    /* top: 7.61%; 78px */
    background-color: #F5F5F5;
}

.mainSection .Card{
    display: inline-block;
    position: absolute;
    top: 2.85; /*27px*/
    border-radius: 14px; /*14px*/
}

.EnergyCard{
    width: 10.26%; /*112px*/
    height: 23.89%; /*226px*/
    left: 2.74%; /*30px*/
    padding: 1.83% 5.49%; /* 20px 60px */
}
.EnergyInData{
    position: relative;
    width: 100%; /*112px*/
    height: 97.78%; /*221px*/
    left: 53.57%; /*60px*/
    top: 9.95%; /*22.5px*/
}

.RangeCard{
    width: 10.26%; /*112px*/
    height: 23.89%; /*226px*/
    left: 26.76%; /*292px*/
    padding: 1.83% 5.49%; /* 20px 60px */
}
.RangeInData{
    position: relative;
    width: 100%; /*112px*/
    height: 97.78%; /*221px*/
    left: 53.57%; /*60px*/
    top: 9.95%; /*22.5px*/
}

.BreakCard{
    width: 13.19%; /*144px*/
    height: 24.1%; /*228px*/
    left: 50.77%; /*554px*/
    padding: 1.74% 4.03%; /* 19px 44px */
}
.BreakInData{
    position: relative;
    width: 86.11%; /*124px*/
    height: 96.92%; /*221px*/
    left: 37.5%; /*54px*/
    top: 9.86%; /*22.5px*/
}

.TireCard{
    width: 11.91%; /*130px*/
    height: 23.89%; /*226px*/
    left: 74.79%; /*816px*/
    padding: 1.83% 4.67%; /* 20px 51px */
}
.TireInData{
    position: relative;
    width: 86.15%; /*112px*/
    height: 97.78%; /*221px*/
    left: 46.15%; /*60px*/
    top: 9.95%; /*22.5px*/
}